@page
@model PhoneBookCore.Pages.Groups.AddModel
@{
}

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" value="@Model.SearchString" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" name="search">
        <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
</form>

@if (Model.Groups.Count > 0)
{
    <div class="list-group" id="list-tab" role="tablist">
        @foreach (var group in Model.Groups)
        {
            <form method="POST">
                <input type="hidden" name="cid" value="@Model.ContactId" />
                <input type="hidden" name="gid" value="@group.GId" />
                <input type="submit" class="list-group-item list-group-item-action" value="@group.Name" />
            </form>
        }
    </div>
}