@model IEnumerable<PhoneBookMVC.Models.Contact>

@{
    ViewData["Title"] = "Contacts";
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="search" value="@ViewData["searchstring"]" placeholder="Search Contacts" />
            <input type="submit" value="Go" class="btn btn-light" />
        </p>
    </div>
</form>

<table class="table">
    <tbody>
        @foreach (var item in Model) {
            <!-- Add Image? -->
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
