@model IEnumerable<ListContactsView>
@{
    ViewData["Title"] = "Contacts";
}

<div class="list-group" id="list-tab" role="tablist">
    @foreach (var item in Model)
    {
        <!-- Add Image? -->
        <a href="/contacts/@item.ContactId" class="list-group-item list-group-item-action">
            @Html.DisplayFor(modelItem => item.FullName)
        </a>

    }
</div>