@page
@model PhoneBookCore.Pages.Contacts.IndexModel
@{
    ViewData["Title"] = "Contacts";
}

<div class="list-group" id="list-tab" role="tablist">
    @foreach (var contact in Model.contacts)
    {
        <a href="/Contacts/View?id=@contact.Id" class="list-group-item list-group-item-action">
            @contact.FullName
        </a>
    }
</div>